
#wall {
  width: 80%;
}

.animationwrapper {
  height: 750px;
}

.sky, .nature, .street {
  position: relative;
}

.sky {
  height: 50%;
  background: lightblue; 
}

#cloud {
  position: absolute;
  top: 5%;
  left: 0;
}

#cloud:nth-child(1){
  animation: cloud 50s linear infinite reverse;
}

#cloud:nth-child(2){
  width: 200px;
  top: 30%;
  left: 10%;
  opacity: 0.8;
  animation: cloud 60s linear infinite reverse;
}

.nature {
  height: 30%;
  background-color: sandybrown;
}

#tree {
  position: absolute;
  bottom: 45%;
  left: 15%;
  animation: tree 3s linear infinite reverse;
}

.street {
  height: 20%;
  background-color: grey;
  border-top: 10px solid dimgrey;
  border-bottom: 10px solid dimgrey;
}

.streetline {
  box-sizing: border-box;
  height: 0px;
  border: 2px solid white;
  position: relative;
  top: 45%;
}

#mario, #luigi, #banana {
  position: absolute;
}

#mario {
  bottom: 30%;
  animation: drive 6.5s both infinite linear;

}

#luigi {
  bottom: 5%;
  animation-name: drive;
  animation-duration: 7.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/*/// KEYFRAMES ///*/

@keyframes drive {
  0%{transform:translateX(-50%);}
  33%{transform:translateX(200%);}
  66%{transform:translateX(450);}
  100%{transform:translateX(700%);}
}

@keyframes cloud {
  from{transform: translateX(-150%);}
  to{transform: translateX(650%);}
}

@keyframes tree {
  from{transform: translateX(-200%);}
  to{transform: translateX(400%);}
}


/*/// MEDIA ///*/

@media screen only (max-width) {

}


